=form_for @attachment, :html => { :multipart => true } do |f|
      =f.label "Upload Image"
      =f.file_field :image

      =f.label "Caption"
      =f.text_field :caption

      =f.submit "Add Image", class: "btn btn-large btn-primary"