- provide(:title, "View Posts")
%h1 TracMe Updates and Posts
%script{type: "text/javascript"}
   :plain
      $(".myBox").click(function gotoPost(){
        window.location=$(this).find("a").attr("href");
        return false;
      });

.container
   = will_paginate
   - @posts.each do |post|
      = render post