- provide(:title, "View Posts")
%h1 TracMe Updates and Posts
=javascript_include_tag "posts_page", "data-turbolinks-track" => true
.container
   = will_paginate
   - @posts.each do |post|
      = render post