- provide(:title, 'New Post')
%h1 New Post
.row
   .span6.offset3
      =form_for(:post, url: posts_path) do |f|

         =f.label :title
         =f.text_field :title

         =f.label :info
         =f.text_area(:info, size: "20x30")

         =f.label "Image"

         =f.submit "Add Post", class: "btn btn-large btn-primary"