- provide(:title, @post.title)

.postcontent
   %h1= @post.title
   - user = User.find_by_email(@post.email).name
   %p= "Posted By: #{user}"
   %p= @post.info


.span8
   =render 'shared/comment_form'
.span8
   -if @post.comments.any?
      %h3 Comments
      %ol.comments
         =render @comments
      =will_paginate @comments


