- provide(:title, @post.title)

.postcontent
   %h1= @post.title
   %p= @post.info

   -if @attachments.any?
      -for @a in @attachments
         =image_tag @a.image.url
         %br
         %p= @a.caption

   -if signed_in?
      =link_to "delete", @post, method: :delete, data: {confirm: "Are you Sure You Would Like to Delete This Post?"}

   .span8
      %section
         =render 'shared/attachment_form'
.span4
   %section
      =render 'shared/comment_form'
.span8
   -if @post.comments.any?
      %h3 Comments
      %ol.comments
         =render @comments
      =will_paginate @comments
